* {
  box-sizing: border-box;
}

:root {
  --color-bg-primary: #22272e;
  --color-text-primary: #cdd9e5;
  --color-text-secondary: #768390;
  --color-border-primary: #444c56;
  --color-border-secondary: #21262d;
  --color-input-bg: #1c212880;
  --color-input-border: #444c56;
  --color-text-link: #58a6ff;

  --color-header-text: #cdd9e5b3;
  --color-header-bg: #2d333b;
  --color-header-logo: #cdd9e5;

  --color-bg-canvas: #1c2128;

  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #238636;
  --color-btn-primary-border: #2ea034;

  --color-shadow-inset: 0 0 transparent;
}

@media (prefers-color-scheme: dark) {
  [data-color-mode="auto"],
  [data-color-mode="dark"] {
    color: #000000;
    /* ALL DARK COLORS  */
  }
  [data-color-mode="light"] {
    color: #ffffff;
    /* ALL LIGHT COLORS  */
  }
}

@media (prefers-color-scheme: light) {
  [data-color-mode="auto"],
  [data-color-mode="light"] {
    color: #ffffff;
    /* ALL LIGHT COLORS  */
  }
  [data-color-mode="dark"] {
    color: #000000;
    /* ALL DARK COLORS */
  }
}

html,
body {
  margin: auto;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-canvas);
  color: var(--color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}
.Box {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
}

.Box--responsive {
  margin-right: -16px;
  margin-left: -16px;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

a:hover {
  text-decoration: underline;
}

.Details:not(.Details--on) .Details-content--hidden-not-important {
  display: none;
}

.icon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.width-full {
  width: 100% !important;
}

main {
  flex: 1 1 0;
}

.center {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 340px;
}

.auth-form-body {
  padding: 20px;
  font-size: 14px;

  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
}

.userform > form {
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
  padding: 16px;
}

.input-block {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}

.form-control {
  padding: 5px 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-input-bg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--color-input-border);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--color-shadow-inset);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: var(--color-text-link);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: initial;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-bg);
  border-color: var(--color-btn-primary-border);
  box-shadow: var(--color-btn-primary-shadow),
    var(--color-btn-primary-inset-shadow);
}

.auth-switcher {
  padding: 0 10px;
  text-align: center;
  border: 1px solid var(--color-border-tertiary);
  border-radius: 6px;
}

/* SMALL */
@media (max-width: 543px) {
}

@media (max-width: 767px) {
}

@media (max-width: 1011px) {
}

@media (max-width: 1280px) {
}

@media (min-width: 544px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1011px) {
}

/* MEDIUM */

@media (min-width: 544px) {
  .Box--responsive {
    margin-right: 0;
    margin-left: 0;
    border: 1px solid var(--color-border-primary);
    border-radius: 6px;
  }
}

@media (min-width: 768px) {
}

/* LARGE */
@media (min-width: 1012px) {
}

@media (min-width: 1280px) {
}
