.border-top {
  border-top: 1px solid var(--color-border-primary) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--color-border-primary) !important;
}

@media (min-width: 768px) {
  .border-md-top-0 {
    border-top: 0 !important;
  }
}
