.Header {
  z-index: 32;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-header-text);
  background-color: var(--color-header-bg);
}

.Header,
.Header-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Header-link:focus,
.Header-link:hover {
  color: var(--color-header-text);
  text-decoration: none;
}

.Header-item {
  margin-right: 16px;
  align-self: stretch;
}

.Header-item--full {
  flex: auto;
}

.Header-link {
  font-weight: 600;
  color: var(--color-header-logo);
  white-space: nowrap;
}

.Header-link:focus,
.Header-link:hover {
  text-decoration: none;
}

/* SMALL */
@media (max-width: 543px) {
}

@media (max-width: 767px) {
}

@media (max-width: 1011px) {
}

@media (max-width: 1280px) {
}

@media (min-width: 544px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1011px) {
}

/* MEDIUM */

@media (min-width: 544px) {
}

@media (min-width: 768px) {
}

/* LARGE */
@media (min-width: 1012px) {
}

@media (min-width: 1280px) {
}
