<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/navbar'); %></header>
    <main>
      Account

      <div>username: <%= user.username %></div>
    </main>
  </body>
</html>
