<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="userform">
        <form action="/login" method="POST">
          <div>
            <label for="fusername">Username</label>
            <input id="fusername" name="username" required />
          </div>
          <div>
            <label for="fpassword">Password</label>
            <input id="fpassword" name="password" type="password" required />
          </div>

          <button type="submit">Login</button>
          <a href="/register">Register</a>
        </form>
      </div>
    </main>
  </body>
</html>
