<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <div class="register">
      <form action="/register" method="POST">
        <div>
          <label for="fname">Name</label>
          <input id="fname" name="name" required />
        </div>
        <div>
          <label for="fusername">Username</label>
          <input id="fusername" name="username" required />
        </div>
        <div>
          <label for="fpassword">Password</label>
          <input id="fpassword" name="password" type="password" required />
        </div>

        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
